<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Sign Up</title>

      <!-- Font Icon -->
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
      />
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      />
      <link rel="stylesheet" href="../css/style.css" />
   </head>
   <body>
      <div class="main">
         <section class="signup">
            <div class="container">
               <div class="signup-content">
                  <div class="signup-form">
                     <h2 class="form-title">Sign up</h2>
                     <form
                        id="registerForm"
                        class="needs-validation register-form"
                        novalidate
                        method="post"
                        action="/register"
                        enctype="multipart/form-data"
                     >
                        <div class="form-group">
                           <label for="username"
                              ><i
                                 class="zmdi zmdi-account material-icons-name"
                              ></i
                           ></label>
                           <input
                              type="text"
                              name="username"
                              id="username"
                              placeholder="Your Name"
                              required
                           />
                           <div class="invalid-feedback">
                              Please enter your username.
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="email"
                              ><i class="zmdi zmdi-email"></i
                           ></label>
                           <input
                              type="email"
                              name="email"
                              id="email"
                              placeholder="Your Email"
                              required
                           />
                           <div class="invalid-feedback">
                              Please enter your email
                           </div>
                        </div>

                        <div class="form-group">
                           <label for="password"
                              ><i class="zmdi zmdi-lock"></i
                           ></label>
                           <input
                              type="password"
                              name="password"
                              id="password"
                              placeholder="Password"
                              minLength="6"
                              required
                           />
                           <div class="invalid-feedback">
                              Password must be at least 6 characters long.
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="re-pass"
                              ><i class="zmdi zmdi-lock-outline"></i
                           ></label>
                           <input
                              type="password"
                              name="re_pass"
                              id="re_pass"
                              placeholder="Repeat your password"
                              minLength="6"
                              required
                           />
                           <div class="invalid-feedback">
                              Passwords do not match.
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="avatar" class=""
                              ><i class="zmdi zmdi-image"></i
                           ></label>
                           <input
                              type="file"
                              id="avatar"
                              name="image"
                              accept="image/*"
                              onchange="previewAvatar(event)"
                           />
                           <img
                              id="avatarPreview"
                              class="mt-2"
                              style="max-width: 100%"
                           />
                        </div>
                        <div class="form-group">
                           <input
                              type="checkbox"
                              name="agree-term"
                              id="agree-term"
                              class="agree-term"
                              required
                           />
                           <label for="agree-term" class="label-agree-term"
                              ><span><span></span></span>I agree all statements
                              in
                              <a href="#" class="term-service"
                                 >Terms of service</a
                              ></label
                           >
                           <div class="invalid-feedback">
                              You must accept the terms and conditions to
                              register.
                           </div>
                        </div>
                        <div class="form-group form-button">
                           <input
                              type="submit"
                              id="signup"
                              class="form-submit"
                           />
                        </div>
                     </form>
                  </div>
                  <div class="signup-image">
                     <figure>
                        <img
                           src="../images/signup-image.jpg"
                           alt="sing up image"
                        />
                     </figure>
                     <a href="/login" class="signup-image-link"
                        >I am already member</a
                     >
                  </div>
               </div>
            </div>
         </section>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script>
         // Enable Bootstrap validation
         (function () {
            "use strict";

            var forms = document.querySelectorAll(".needs-validation");

            Array.from(forms).forEach(function (form) {
               form.addEventListener(
                  "submit",
                  function (event) {
                     if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                     }

                     // Validate passwords match
                     var password = document.getElementById("password").value;
                     var confirmPassword =
                        document.getElementById("re_pass").value;
                     var confirmPasswordField =
                        document.getElementById("re_pass");
                     if (password !== confirmPassword) {
                        confirmPasswordField.setCustomValidity(
                           "Passwords do not match"
                        );
                     } else {
                        confirmPasswordField.setCustomValidity("");
                     }

                     form.classList.add("was-validated");
                  },
                  false
               );
            });
         })();
         // Preview avatar
         function previewAvatar(event) {
            var input = event.target;
            var preview = document.getElementById("avatarPreview");

            var reader = new FileReader();
            reader.onload = function () {
               preview.src = reader.result;
            };

            reader.readAsDataURL(input.files[0]);
         }
      </script>
   </body>
   <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
